apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    run: my-etcd-client-v1
  name: my-etcd-client-v1
  namespace: etcd
spec:
  containers:
  - command: ["/bin/sh"]
    args: ["-c", "etcdctl --endpoints etcd-service.etcd:5001 get /registry/namespaces --prefix --keys-only"]
    image: sipirsipirmin/backer:v1
    name: my-etcd
    resources: {}
    env:
      - name: ETCDCTL_API
        value: "3"
  dnsPolicy: ClusterFirst
  restartPolicy: Never
status: {}
