apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    run: pod
  name: backer
spec:
  containers:
  - command: ["/bin/sh"]
    args: ["-c", "etcdctl --endpoints=localhost:2379 --cacert=/var/lib/minikube/certs/etcd/ca.crt --key=/var/lib/minikube/certs/etcd/server.key  --cert=/var/lib/minikube/certs/etcd/server.crt snapshot save ff.db && mv ff.db /tmp/backs/ff.db"]
    image: sipirsipirmin/backer:v1
    name: backer
    resources: {}
    volumeMounts:
    - mountPath: /var/lib/minikube/etcd
      name: etcd-data
    - mountPath: /var/lib/minikube/certs/etcd
      name: etcd-certs
    - mountPath: /tmp/backs
      name: etcd-backup
    env:
      - name: ETCDCTL_API
        value: "3"
  dnsPolicy: ClusterFirst
  volumes:
  - hostPath:
      path: /var/lib/minikube/certs/etcd
      type: DirectoryOrCreate
    name: etcd-certs
  - hostPath:
      path: /var/lib/minikube/etcd
      type: DirectoryOrCreate
    name: etcd-data
  - hostPath:
      path: /tmp/backs
      type: DirectoryOrCreate
    name: etcd-backup
  hostNetwork: true
  restartPolicy: Never
status: {}
