apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: db-policy
  namespace: db
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: mariadb
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: poc
      namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: app
    ports:
    - protocol: TCP
      port: 3306 
